{%extends "layout.html"%}
{%block content%}
<div class="coantainer-fluid">
    <div class="row">
        <div class="col-m-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Package Name,{{len}}nos </th>
                        <th>check to remove</th>
                    </tr>
                </thead>
                <form action="/remove" method="POST">
                {%for i in list1%}
                    <tr>
                        <td><a href="https://www.google.com/search?q={{i}}">{{i}}</a></td>
                        <td><input type="checkbox" name="check" value="{{i}}"></td>
                    </tr>
                {% endfor%}
                    <tfoot>
                        <tr>
                            <th>
                                <input type="submit" value="Remove Apps">
                            </th>
                        </tr>
                    </tfoot>
                </form>
            </table>
            
        </div>
    </div>

</div>
{% endblock%}