{%extends "layout.html"%}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-m-12" style="margin-left: 10%;margin-top: 3%;width: 89%;">
            <table class="table">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>Option</td>
                    </tr>
                </thead>
                <tr>
                    <form action="/listAll" method="POST">
                        <td><button type="submit">List Apps</button></td>
                        <td>
                            <div>
                                <input type="radio" id="all" name="appType" value="all" checked>
                                <label for="all">All</label>
                            </div>
                            <div>
                                <input type="radio" id="system" name="appType" value="system">
                                <label for="system">System Apps Only</label>
                            </div>
                            <div>
                                <input type="radio" id="user" name="appType" value="user">
                                <label for="user">User Apps Only</label>
                            </div>
                            <div>
                                <input type="radio" id="disabled" name="appType" value="disabled">
                                <label for="Disabled">All Disabled Apps</label>
                            </div>
                            <div>
                                <input type="radio" id="enabled" name="appType" value="enabled">
                                <label for="enabled">All enabled Apps</label>
                            </div>
                        </td>
                    </form>
                </tr>
                <tr>
                    <td>Display Resolution and Density</td>
                    <td>{%for i in screen%}
                    {{i}} <br>
                    {%endfor%} </td>
                </tr>
                <tr>
                    <form action="/screenCap">
                        <td><button type="submit">Screen Cap</button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock%}